{
	"branches": ["main"],
	"plugins": [
		"@semantic-release/commit-analyzer",
		"@semantic-release/release-notes-generator",
		"@semantic-release/changelog",
		"@semantic-release/github",
		"@semantic-release/git"
	],
	"preset": "angular",
	"releaseRules": [
		{ "type": "feat", "release": "minor" },
		{ "type": "fix", "release": "patch" },
		{ "type": "perf", "release": "patch" },
		{ "type": "docs", "release": "patch" },
		{ "type": "style", "release": "patch" },
		{ "type": "refactor", "release": "patch" },
		{ "type": "test", "release": "patch" },
		{ "type": "build", "release": "patch" },
		{ "type": "ci", "release": "patch" },
		{ "type": "chore", "release": "patch" }
	],
	"releaseNotes": {
		"title": "Release Notes",
		"sections": [
			{ "title": "🚀 Features", "types": ["feat"] },
			{ "title": "🐛 Bug Fixes", "types": ["fix"] },
			{ "title": "📈 Performance Improvements", "types": ["perf"] },
			{ "title": "📝 Documentation", "types": ["docs"] },
			{ "title": "💄 Styles", "types": ["style"] },
			{ "title": "♻️ Code Refactoring", "types": ["refactor"] },
			{ "title": "✅ Tests", "types": ["test"] },
			{ "title": "📦 Build System", "types": ["build"] },
			{ "title": "🔧 Continuous Integration", "types": ["ci"] },
			{ "title": "🔨 Chores", "types": ["chore"] }
		]
	}
}